SECRET_KEY=sua_secret_key

DEBUG=True

DB_NAME=finance_db
DB_USER=postgres
DB_PASSWORD=postgres123
DB_HOST=db
DB_PORT=5432

TELEGRAM_BOT_TOKEN=seu_token

GROQ_API_KEY=sua_chave_groq

SECRET_KEY='keeeeey'
DEBUG=True
ALLOWED_HOSTS="*"
